{% extends "layout.html" %}

{% block content %}
<div class="content-section">
    <h1>About RVR Students Blog</h1>
    <p>Welcome to the RVR Students Blog! This blog shares updates, student achievements, and events at RVR.</p>

    <h3>Important Links</h3>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="https://rvrjcce.ac.in/examcell/results/batch24/index.php" target="_blank">Examination Results</a>
        </li>
        <li class="list-group-item">
            <a href="https://rvrjcce.ac.in/xtrainingandplacements.php" target="_blank">Placements</a>
        </li>
        <li class="list-group-item">
            <a href="https://rvrjcce.ac.in/xexamtimetables.php" target="_blank">Examination TImeTable</a>
        </li>
        <li class="list-group-item">
            <a href="https://rvrjcce.ac.in/xacademiccalender.php" target="_blank">Academics Calender</a>
        </li>
        <li class="list-group-item">
            <a href="https://rvrjcce.ac.in/xfeepayments.php" target="_blank">Fee Payment</a>
        </li>
    </ul>

    <p class="mt-3">For more information, visit the <a href="https://rvrwebsite.edu.in" target="_blank">RVR official website</a>.</p>
</div>
{% endblock %}
