{% extends "layout.html" %}

{% block content %}
<div class="content-section">
    <h1>About RVR Students Blog</h1>
    <p>Welcome to the RVR Students Blog! This blog shares updates, student achievements, and events at RVR.</p>

    <h3>Important Links</h3>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="https://rvrwebsite.edu.in/examination-results" target="_blank">Examination Results</a>
        </li>
        <li class="list-group-item">
            <a href="https://rvrwebsite.edu.in/placements" target="_blank">Placements</a>
        </li>
        <li class="list-group-item">
            <a href="https://rvrwebsite.edu.in/events" target="_blank">Events</a>
        </li>
        <li class="list-group-item">
            <a href="https://rvrwebsite.edu.in/announcements" target="_blank">Announcements</a>
        </li>
        <li class="list-group-item">
            <a href="https://rvrwebsite.edu.in/lost-and-found" target="_blank">Lost & Found</a>
        </li>
    </ul>

    <p class="mt-3">For more information, visit the <a href="https://rvrwebsite.edu.in" target="_blank">RVR official website</a>.</p>
</div>
{% endblock %}
